@using DapperCodeGenerator.Core.Generators
@model DapperCodeGenerator.Core.Models.Database

@{
    var modalId = $"TablesDapperModal_{Guid.NewGuid()}";
}

<button type="button" class="btn btn-sm btn-warning" title="All @Model.DatabaseName Database Dapper" data-toggle="modal" data-target="#@modalId">All Dapper</button>

<div id="@modalId" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>@Model.DatabaseName</strong> Database &gt; All Dapper</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <label for="alt-generators">Alternatives:</label>
                    <ul id="alt-generators">
                        <li><a href="https://github.com/MoonStorm/Dapper.FastCRUD">FastCRUD</a></li>
                        <li><a href="https://github.com/ericdc1/Dapper.SimpleCRUD">SimpleCRUD</a></li>
                    </ul>
                </div>
                <h5><code id="@modalId-data-model-name">@{@Model.DatabaseName}Repository.cs</code></h5>
                <div class="alert alert-warning" role="alert">
                    This Dapper code is written using T-SQL syntax and might not be compatible with Postgres/Orale
                </div>
                <pre><code id="@modalId-data-model-code">@DapperGenerator.GenerateDapperFromDatabase(Model)</code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>