body {
    font-size: 14px;
    padding-top: 4em;
    padding-bottom: 3em;
}

.modal {
    padding: 1em;
}

body.modal-open .modal-dialog {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.modal-open .modal-content {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body.modal-open .modal-header {
    height: 4.5em;
    line-height: unset;
}

body.modal-open .modal-body {
    overflow-y: auto;
}

body.modal-open .modal-footer {
    line-height: unset;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

h5 code {
    font-size: 100%;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
}

pre code {
    display: block;
    padding: 1em;
    background-color: #e9ecef;
    overflow: auto;
}

#footprint {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 100;
}
