@inject IJSRuntime JS

<button type="button"
        class="btn btn-sm btn-info ml-2 text-white font-monospace d-flex align-items-center gap-2"
        title="@(ShowText ? null : Text)"
        @onclick="CopyToClipboardAsync">
    @if(ShowText)
    {
        <span>
            @Text
        </span>
    }
    <i class="far fa-copy"></i>
</button>

@code {
    [Parameter]
    public string ID { get; set; } = "";

    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public bool ShowText { get; set; } = false;

    private async Task CopyToClipboardAsync()
    {
        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Shared/CopyButton.razor.js");
        await module.InvokeVoidAsync("copyElementTextById", ID);
    }
}
